.MainNavBar {
    background: #242424;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.3s ease;
    display: flex;
    z-index: 100;
}

.MainNavBar-MenuWrapper {
    overflow: hidden;
}

.MainNavBar.isFixed {
    position: fixed;
    max-height: 0;
}

.MainNavBar.isExpanded {
    max-height: 25vh;
}

.MainNavBar nav {
    display: flex;
}

.MainNavBar ul {
    margin: 0;
    padding: 12px;
    display: flex;
}

.MainNavBar li {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0 12px;
}

.MainNavBar li a {
    color: #888;
    text-decoration: none;
}
.MainNavBar li a:active {
    color: white;
    text-decoration: none;
}

.MainNavBar-ToggleButton {
    display: none;
    border: none;
    background: none;
    color: white;
    font-size: 24px;
    padding: 0 12px;
}
.MainNavBar-MobileOverlay {
    display: none;
}

@media only screen and ( max-width: 720px ) {
    .MainNavBar-ToggleButton {
        display: block;
        padding: 8px 12px;
    }
    .MainNavBar-MenuWrapper {
        max-width: 100vh;
        position: fixed;
        height: 100vh;
        background-color: #242424;
        border-right: 1px solid #888;
        z-index: 100;
        left: -25vh;
        transition: left 0.5s ease-in-out;
    }
    .MainNavBar-MenuWrapper ul {
        display: block;
        max-width: 25vh;
    }
    .MainNavBar-MenuWrapper.isExpanded {
        left: 0;
    }
    .MainNavBar-MobileOverlay {
        width: 100vh;
        height: 100vh;
        overflow: hidden;
        background: #000;
        opacity: 0.5;
        position: absolute;
    } 
    .MainNavBar-MobileOverlay.hidden {
        opacity: 0;
        display: none;
    }
}