a {
  color: #11b3db;
  text-decoration: none;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  overflow: hidden;
  font-family: 'Century gothic', Arial, Helvetica, sans-serif;
}

.App-Content {
  max-width: 1080px;
  margin: auto;
}
/*--Obsolete--*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Header {
  min-height: 72px;
}

.App-Content {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;*/
  font-size: 1.2rem; 
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
