.Item-Wrapper {
    width: calc(100% / 3);;
    display: inline-block;
}

.Item-Block {
    background-color: #abcdef;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 180px;
    color: initial;
    display: flex;
    flex-direction: column;
}

.Item-Block h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 2px;
}

.Item-Block p {
    display: block;
    height: 88px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 2px;
    
    /*  line-clamp to truncate lines and display ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    
}